mixin why()
	section.why&attributes(attributes)
		.why__in
			h2.why__title Почему доверяют именно нам :
			ul.why__list
				li.why__item
					.why__number-w
						.why__number 1
					.why__item-title Заголовок причины
					.why__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
				li.why__item
					.why__number-w
						.why__number 2
					.why__item-title Заголовок причины
					.why__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
				li.why__item
					.why__number-w
						.why__number 3
					.why__item-title Заголовок причины
					.why__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
