.why
	display block
	background #f7f7f7 url('../images/general/why-bg.jpg') 50% 0 no-repeat
	background-size cover
	overflow hidden
	&__in
		@extends .in
		padding-top 42px
		padding-bottom 54px
		+r($tM)
			padding-bottom (54px/2)
	&__title
		margin-bottom 20px
		font-size 42px
		font-family $pR
		text-transform uppercase
		text-align center
		+r($tM)
			font-size (42px/1.4)
	&__list
		display flex
		flex-flow row wrap
		justify-content space-around
		align-items flex-start
		+r($t)
			justify-content center
	&__item
		margin-bottom 14px
		padding-left 30px
		padding-right 30px
		// width 370px
		width ratio-percentage(390, 1170)
		text-align center
		color #333
		+r($t)
			width auto
	&__number-w
		position relative
		margin auto
		margin-bottom 16px
		width 95px
		height 95px
		border 1px solid #ffffff
		background-color transparent
		border-radius 50%
		&:after,
		&:before
			position absolute
			z-index 0
			top 50%
			left 50%
			content ""
			transform translate(-50%, -50%)
			border-radius 50%
		&:after
			width 73px
			height 73px
			border 1px solid #ffbb0e
			background-color #ffffff
			opacity .6
	&__number
		position absolute
		top 50%
		left 50%
		z-index 1
		margin auto
		width 49px
		height 49px
		background-color #2b66eb
		background-image linear-gradient(to top, #ffb300 0%, #ffd339 100%)
		color #FFF
		font-size 36px
		font-family $pR
		text-transform uppercase
		text-align center
		border-radius 50%
		transform translate(-50%, -50%)
		&:after
			position absolute
			z-index 1
			top 50%
			left 50%
			content ""
			width 114px
			height 114px
			border 1px solid #9fccff
			background-color transparent
			border-radius 50%
			opacity .2
			transform translate(-50%, -50%)
	&__item-title
		margin-bottom 11px
		font-size 28px
		line-height 1.1
		+r($tM)
			font-size (28px/1.2)
	&__item-text
		padding-left 30px
		padding-right 30px
		font-size 19px
		line-height 1.473
		+r($tM)
			font-size (19px/1.2)

