mixin advantages()
	section.advantages&attributes(attributes)
		.advantages__in
			h2.advantages__title Преимущества нашей школы
			ul.advantages__list
				li.advantages__item.advantages__item_1
					.advantages__icon
						img(src="assets/images/general/advantages-icon-1.png", alt="")
					.advantages__text Дружная компания из 150 мальчишек и девчонок от 3 до 15 лет
				li.advantages__item.advantages__item_2
					.advantages__icon
						img(src="assets/images/general/advantages-icon-2.png", alt="")
					.advantages__text Участие в соревнованиях уже после 1 месяца обучения
				li.advantages__item
					.advantages__icon
						img(src="assets/images/general/advantages-icon-3.png", alt="")
					.advantages__text Все наши тренеры – титулованные футболисты!
				li.advantages__item.advantages__item_3
					.advantages__icon
						img(src="assets/images/general/advantages-icon-4.png", alt="")
					.advantages__text Уникальная методика тренировок, созданная на базе отечественного и зарубежного опыта
				li.advantages__item.advantages__item_4
					.advantages__icon
						img(src="assets/images/general/advantages-icon-5.png", alt="")
					.advantages__text Возможность выбирать удобный для Вас график занятий
