.trainers
	display block
	background #fafafa
	overflow hidden
	&__in
		@extends .in
		padding-top 90px
		padding-bottom 15px
		+r($tM)
			padding-top (90px/2)
	&__title
		@extends .title
		margin-bottom 59px
		line-height 1.3
		text-align center
		+r($tM)
			margin-bottom (59px/2)
	&__slider
		margin-top -92px
	&__item
		padding-top 50px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
		clr()
	&__image
		position relative
		z-index 2
		margin-left -16px
		float left
		width 470px
		min-height 595px
		background url('../images/general/trainer-frame-img.png') 0 0 no-repeat
		background-size cover
		+r($d)
			margin auto
			float none
			min-height 591px
		+r($t)
			margin-bottom 20px
			width 300px
			min-height auto
			background transparent

	&__image-w
		margin-top 46px
		margin-left 68px
		margin-right 39px
		margin-bottom 50px
		+r($t)
			margin-top 0
			margin-left 0
			margin-right 0
			margin-bottom 0

		img
			border 10px solid #Fff
			display block
			max-width 100%
			height auto
			background #fff

	&__content
		padding-top 36px
		float right
		width 700px
		width ratio-percentage(700, 1170)
		+r($d)
			margin auto
			padding-top 0
			float none
			text-align center
		+r($tM)
			margin-top -30px
			text-align left
		+r($t)
			margin-top 0
			width auto
	&__name
		position relative
		margin-bottom 0
		padding-left 73px
		font-size 42px
		font-family $pR
		text-transform uppercase
		+r($d)
			display inline-block
			vertical-align top
		+r($t)
			padding-left (73px/1.8)
			font-size (42px/1.4)

	&__icon
		position absolute
		top 0
		left 0
		width 60px
		height 60px
		background-color #ffb300
		background-image linear-gradient(to top, #ffb300 0%, #ffd339 100%)
		border-radius 50%
		+r($t)
			width (60px/2)
			height (60px/2)
			top 50%
			transform translateY(-50%)
		&:after
			position absolute
			top 50%
			left 50%
			content ''
			retinaSprite($trainer_icon_group)
			transform translate(-50%, -50%)
			+r($t)
				width (42px/2)
				height (28px/2)
				background url('../images/general/trainer-icon.png') 0 0 no-repeat
				background-size cover


	&__position
		margin-top -5px
		margin-bottom 28px
		padding-left 71px
		font-size 28px
		+r($d)
			padding-left 8px
		+r($tM)
			padding-left 71px
		+r($t)
			margin-bottom (28px/2)
			padding-left (71px/1.7)
			font-size (28px/1.4)

	&__text
		margin-bottom 33px
		padding-right 80px
		+r($d)
			padding-right 0
			text-align left
		+r($t)
			font-size (19px/1.4)
	&__progress-title
		margin-bottom 10px
		font-size 24px
		font-family $sB
		+r($d)
			text-align left
		+r($t)
			font-size (24px/1.4)
	&__list-item
		position relative
		margin-bottom 10px
		padding-left 32px
		+r($d)
			text-align left
		+r($t)
			font-size (19px/1.4)
		&:after
			position absolute
			top 0
			left 0
			width 24px
			height 24px
			content ''
			background url('../images/general/check-icon.svg') 0 0 no-repeat
	.slick-dots
		bottom 20px
		+r($d)
			bottom -20px
		li
			margin 0 6px
			width 16px
			height 16px
		button
			padding 0
			width 16px
			height 16px
			border-radius 50%
			background transparent
			&:before
				top 50%
				left 50%
				width 8px
				height 8px
				background-color #12ab0e
				opacity 1
				border-radius 50%
				font-size 0
				line-height 1
				transform translate(-50%, -50%)
	.slick-active
		button
			width 16px
			height 16px
			background-color #333333
			border-radius 50%
			&:before
				background-color #333333

	.slick-arrow
		position absolute
		width 50px
		height 50px
		border 1px solid #12ab0e
		background-color transparent
		border-radius 50%
		transform translate(0, calc(-50% + 10px))
		&:before
			position absolute
			top 50%
			left 50%
			width 8px
			height 16px
			content ''
			background url('../images/general/right-arrow.svg') 0 0 no-repeat
			transform translate(calc(-50% + 1px), calc(-50% + 2px))
		&:hover,
		&:focus
			background-image linear-gradient(to top, #00a113 0%, #31bc06 100%)
			box-shadow 0 3px 4px rgba(0, 0, 0, 0.29)
			tr(all .3s ease)
			&:before
				background url('../images/general/right-arrow-second.svg') 0 0 no-repeat
	.slick-prev
		left -93px
		&:before
			transform translate(calc(-50% + 0px), calc(-50% + 1px)) rotate(-180deg)
	.slick-next
		right -93px

