mixin trainers()
	section.trainers&attributes(attributes)
		.trainers__in
			h2.trainers__title Наши тренеры
			ul.trainers__slider
				li.trainers__item
					.trainers__image
						img(src="assets/images/content/trainer-1.jpg", alt="")
					.trainers__content
						h3.trainers__name
							.trainers__icon
							| Игорь Шестаков
						.trainers__position Старший тренер
						.trainers__text
							p Воспитанник ФШМ «Торпедо» Москва. Футбольная карьера: «Сатурн» Раменское, «Газовик» Оренбург, «Сибирь» Новосибирск, «Ротор» Волгоград, «Черноморец» Новороссийск, «Химки» и «Домодедово». Действующий футболист ЛФЛ (8х8). Бессменный организатор выездных матчей и товарищеских встреч.
						.trainers__progress
							.trainers__progress-title Достижения:
							ul.trainers__list
								li.trainers__list-item Чемпион Европы (8х8) ЛФЛ: 2016г.
								li.trainers__list-item Участник Африканского этапа Чемпионата Мира по футболу (ЛФЛ) 2017 г.
								li.trainers__list-item Второе место на первенстве Москвы, 2017г.

				li.trainers__item
					.trainers__image
						img(src="assets/images/content/trainer-2.jpg", alt="")
					.trainers__content
						h3.trainers__name
							.trainers__icon
							| Игорь Шестаков
						.trainers__position Старший тренер
						.trainers__text
							p Воспитанник ФШМ «Торпедо» Москва. Футбольная карьера: «Сатурн» Раменское, «Газовик» Оренбург, «Сибирь» Новосибирск, «Ротор» Волгоград, «Черноморец» Новороссийск, «Химки» и «Домодедово». Действующий футболист ЛФЛ (8х8). Бессменный организатор выездных матчей и товарищеских встреч.
						.trainers__progress
							.trainers__progress-title Достижения:
							ul.trainers__list
								li.trainers__list-item Чемпион Европы (8х8) ЛФЛ: 2016г.
								li.trainers__list-item Участник Африканского этапа Чемпионата Мира по футболу (ЛФЛ) 2017 г.
								li.trainers__list-item Второе место на первенстве Москвы, 2017г.
				li.trainers__item
					.trainers__image
						img(src="assets/images/content/trainer-1.jpg", alt="")
					.trainers__content
						h3.trainers__name
							.trainers__icon
							| Игорь Шестаков
						.trainers__position Старший тренер
						.trainers__text
							p Воспитанник ФШМ «Торпедо» Москва. Футбольная карьера: «Сатурн» Раменское, «Газовик» Оренбург, «Сибирь» Новосибирск, «Ротор» Волгоград, «Черноморец» Новороссийск, «Химки» и «Домодедово». Действующий футболист ЛФЛ (8х8). Бессменный организатор выездных матчей и товарищеских встреч.
						.trainers__progress
							.trainers__progress-title Достижения:
							ul.trainers__list
								li.trainers__list-item Чемпион Европы (8х8) ЛФЛ: 2016г.
								li.trainers__list-item Участник Африканского этапа Чемпионата Мира по футболу (ЛФЛ) 2017 г.
								li.trainers__list-item Второе место на первенстве Москвы, 2017г.
