include ../icon/icon

mixin video()
	.video&attributes(attributes)
		.video__in
			.video__text
				p Школа футбола — это потрясающая возможность для ваших детей обучаться по европейской, эффективной методике, а значит шанс для дальнейшей головокружительной карьеры в мире футбола. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.video__object
				.video__button
					.video__button-icon
						+icon('triangle-icon', true).video__button-triangle
					.video__button-text смотреть видео
