
html,
body
	height 100%

.page
	min-height 100%
	background #fff
	color #333
	font-family $sR
	font-size 19px
	font-weight normal
	line-height 1.473

.in
	margin auto
	padding-left 15px
	padding-right 15px
	max-width 1200px
	+r($m)
		padding-left 10px
		padding-right 10px

.title
	position relative
	padding-bottom 28px
	color #333333
	font-family $pM
	font-size 54px
	line-height 1.185
	text-transform uppercase
	&:after
		position absolute
		left 50%
		bottom 0
		content ''
		width 60px
		height 3px
		background-color #12ab0e

.button
	padding-top 8px
	padding-left 40px
	padding-right 40px
	padding-bottom 8px
	display inline-block
	vertical-align top
	min-height 50px
	// background #31bc06
	background linear-gradient(to top, #00a113 0%, #31bc06 100%)
	color #FFF
	font-family $pM
	font-size 24px
	text-transform uppercase
	text-align center
	text-decoration none
	box-shadow 0 3px 4px rgba(0, 0, 0, .29)
	opacity 1
	tr(background .3s ease)
	&:hover
		opacity .9
		background linear-gradient(to top, darken(#00a113, 10) 0%, darken(#31bc06, 10) 100%)
		tr(background .3s ease)

.wysiwyg
	font-family $sR
	font-weight normal
	line-height 1.4
	color #212121
	+r($m)
		font-size 13px
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		margin-bottom 10px
		font-family $pM
		line-height 1.4
	h1
		font-size 35px
	h2
		position relative
		font-size 29px
		+r($m)
			font-size 22px
	h3
		font-size 29px
	h4
		font-size 23px
	h5
		font-size 19px
	p
		margin-bottom 10px
		font-family $sR
		// font-weight 200
		line-height 1.4
		text-align left
		color #212121
		+r($m)
			font-size 13px
	pre
		margin-bottom 10px
		padding-bottom 25px
		+r($m)
			font-size 15px
	em,
	code
		font-family $sR
	a
		color #000
		line-height 1.56
		transition all .2s ease
	ul,
	ol
		margin-bottom 10px
	li
		position relative
		margin-bottom 5px
		padding-left 30px
		font-family $sR
		font-size 18px
		font-weight 200
		line-height 1.56
		text-align left
		+r($m)
			font-size 15px
	img
		max-width 100%
		height auto
