
@font-face {
	font-family 'Lato-Regular'
	src url('../fonts/subset-Lato-Regular.woff2') format('woff2'),
		url('../fonts/subset-Lato-Regular.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'PFDinTextCondPro-Bold'
	src url('../fonts/hinted-subset-PFDinTextCondPro-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PFDinTextCondPro-Bold.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'PFDinTextCondPro-Medium'
	src url('../fonts/hinted-subset-PFDinTextCondPro-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-PFDinTextCondPro-Medium.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'PFDinTextCondPro-Regular'
	src url('../fonts/hinted-subset-PFDinTextCondPro-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-PFDinTextCondPro-Regular.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'SFUIDisplay-Bold'
	src url('../fonts/hinted-subset-SFUIDisplay-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Bold.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'SFUIDisplay-Medium'
	src url('../fonts/hinted-subset-SFUIDisplay-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Medium.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'SFUIDisplay-Regular'
	src url('../fonts/hinted-subset-SFUIDisplay-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Regular.woff') format('woff')
	font-weight normal
	font-style normal
}

$lR  = 'Lato-Regular', Arial, Helvetica Neue, Helvetica, sans-serif

$pR  = 'PFDinTextCondPro-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
$pM  = 'PFDinTextCondPro-Medium', Arial, Helvetica Neue, Helvetica, sans-serif
$pB  = 'PFDinTextCondPro-Bold', Arial, Helvetica Neue, Helvetica, sans-serif

$sR  = 'SFUIDisplay-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
$sM  = 'SFUIDisplay-Medium', Arial, Helvetica Neue, Helvetica, sans-serif
$sB  = 'SFUIDisplay-Bold', Arial, Helvetica Neue, Helvetica, sans-serif
