.standards
	display block
	&__in
		@extends .in
		padding-top 140px
		padding-bottom 80px
	&__title
		@extends .title
		margin-bottom 42px
		text-align center
	&__text
		margin auto
		max-width 960px
		font-size 19px
		line-height 1.579
		text-align center

