include ../icon/icon

mixin life()
	section.life&attributes(attributes)
		.life__in
			h2.life__title Жизнь школы

			.life__tabs.tabs
				.life__tabs-nav.tabs__nav
					a.life__tabs-link.life__tabs-link_active(href='#tab-1') Турниры
					a.life__tabs-link(href='#tab-2') Мероприятия

				.life__tabs-content.tabs__content
					.life__tab.life__tab_active#tab-1
						ul.life__list
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-1.jpg", alt="")
								.life__item-title Турнир «Золотые ключи»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-2.jpg", alt="")
								.life__item-title Турнир «Точный пасс»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-3.jpg", alt="")
								.life__item-title Турнир «Золотые ключи»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-4.jpg", alt="")
								.life__item-title Турнир «Точный пасс»
								.life__item-date Май 2017

					.life__tab#tab-2
						ul.life__list
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-1.jpg", alt="")
								.life__item-title Турнир «Золотые ключи»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-2.jpg", alt="")
								.life__item-title Турнир «Точный пасс»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-3.jpg", alt="")
								.life__item-title Турнир «Золотые ключи»
								.life__item-date Май 2017
							li.life__item
								a.life__link(href="#link")
									.life__image
										.life__button-w
											.life__button
												+icon('zoom-icon', true).life__button-icon
											.life__button-text смотреть галерею
										img(src="assets/images/content/tourney-img-4.jpg", alt="")
								.life__item-title Турнир «Точный пасс»
								.life__item-date Май 2017
