.life
	display block
	&__in
		@extends .in
		padding-top 90px
		padding-bottom 90px
		+r($tM)
			padding-top (90px/2)
			padding-bottom (90px/2)
	&__title
		@extends .title
		margin-bottom 57px
		text-align center
		+r($tM)
			margin-bottom (57px/2)
	&__tabs-nav
		margin-bottom 44px
		text-align center
		+r($tM)
			margin-bottom (44px/2)
	&__list
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
	&__item
		margin-bottom 20px
		width 570px
		width ratio-percentage(570, 1170)
		+r($m)
			width auto
	&__link
		margin-bottom 4px
		display block
		&:hover
			.life__image
				&:after
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					content ''
					background rgba(51,51,51, .6)
					tr(all .3s ease)
			.life__button-w
				visibility visible
				opacity 1
				tr(all .3s ease)

	&__image
		position relative
		border 5px solid #fff
		background #fff
		box-shadow 0 0 54px rgba(0, 0, 0, 0.1)
		img
			display block
			max-width 100%
			height auto
	&__button-w
		position absolute
		z-index 1
		top 50%
		left 50%
		visibility hidden
		opacity 0
		transform translate(-50%, -50%)
		tr(all .3s ease)

	&__button
		position relative
		margin auto
		width 90px
		height 90px
		background-color #2fb908
		background-image linear-gradient(to top, #ffb300 0%, #ffd339 100%)
		border-radius 50%
		+r($t)
			width (90px/2)
			height (90px/2)
	&__button-icon
		position absolute
		top 50%
		left 50%
		margin-bottom 16px
		width 36px
		height 36px
		transform translate(-50%, -50%)
		+r($t)
			width (36px/2)
			height (36px/2)
	&__button-text
		color #FFF
		font-family $pR
		font-size 30px
		text-transform uppercase
		+r($tM)
			font-size (30px/1.4)
		+r($t)
			font-size (30px/1.8)
	&__item-title,
	&__item-date
		padding-left 12px
	&__item-title
		font-size 28px
		+r($tM)
			font-size (28px/1.4)
	&__item-date
		font-size 17px
		+r($tM)
			font-size (17px/1.2)


