mixin news()
	section.news&attributes(attributes)
		.news__in
			h2.news__title новости
			ul.news__list
				li.news__item
					a.news__link(href="#")
						.news__image
							img(src="assets/images/content/news-img-1.jpg", alt="")
						.news__date 15 Апреля 2018

						h3.news__item-title Как вырастить ребенка футболистом: советы психологов

						.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				li.news__item
					a.news__link(href="#")
						.news__image
							img(src="assets/images/content/news-img-2.jpg", alt="")
						.news__date 3 Апреля 2018

						h3.news__item-title Детский футбольный лагерь в Германии: за и против

						.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				li.news__item
					a.news__link(href="#")
						.news__image
							img(src="assets/images/content/news-img-3.jpg", alt="")
						.news__date 24 Мая 2018

						h3.news__item-title Как найти индивидуального тренера по футболу для ребенка

						.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
