mixin philosophy()
	.philosophy&attributes(attributes)
		.philosophy__in
			.philosophy__w
				.philosophy__icon
				.philosophy__text
					p Философия нашей школы — максимальное развитие индивидуальных качеств игрока во благо командной игры
