mixin choose()
	section.choose&attributes(attributes)
		.choose__in
			h2.choose__title Выбирайте, что вам удобно
			ul.choose__list
				li.choose__item
					.choose__image
						img(src="assets/images/content/choose-image-1.png", alt="")
					h3.choose__item-title Групповые тренировки
					.choose__text
						p Комплексное обучение в мини-группах до 10 человек
				li.choose__item
					.choose__image
						img(src="assets/images/content/choose-image-2.png", alt="")
					h3.choose__item-title Персональные тренировки
					.choose__text
						p Обучение технике футбола по индивидуальной программе, составленной с учетом особенностей каждого ребенка.
				li.choose__item
					.choose__image
						img(src="assets/images/content/choose-image-3.png", alt="")
					h3.choose__item-title Школа вратарей
					.choose__text
						p Сюда нужен текст про обучение вратарей. Несколько строк, как на предыдущих

			a.choose__button.button.button_big(href="#link") записаться в школу
