mixin reviews()
	section.reviews&attributes(attributes)
		.reviews__in
			h2.reviews__title О нас говорят

			.reviews__tabs.tabs
				.reviews__tabs-nav.tabs__nav
					a.reviews__tabs-link.reviews__tabs-link_active(href='#reviews-tab-1') Читать отзывы
					a.reviews__tabs-link(href='#reviews-tab-2') Смотреть отзывы

				.reviews__tabs-content.tabs__content
					.reviews__tab.reviews__tab_active#reviews-tab-1
						ul.reviews__list
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-1.jpg')")
								.reviews__name Игорь Колосов
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-2.jpg')")
								.reviews__name Алина Хрусталева
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-3.jpg')")
								.reviews__name Илья Сохов
								.reviews__city Балашиха
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-1.jpg')")
								.reviews__name Игорь Колосов
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-2.jpg')")
								.reviews__name Алина Хрусталева
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-3.jpg')")
								.reviews__name Илья Сохов
								.reviews__city Балашиха
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

					.reviews__tab#reviews-tab-2

						ul.reviews__list.reviews__list_second
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-1.jpg')")
								.reviews__name Игорь Колосов
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-2.jpg')")
								.reviews__name Алина Хрусталева
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-3.jpg')")
								.reviews__name Илья Сохов
								.reviews__city Балашиха
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-1.jpg')")
								.reviews__name Игорь Колосов
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-2.jpg')")
								.reviews__name Алина Хрусталева
								.reviews__city Москва
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.

							li.reviews__item
								.reviews__picture(style="background-image:url('assets/images/content/reviews-img-3.jpg')")
								.reviews__name Илья Сохов
								.reviews__city Балашиха
								.reviews__text Замечательная школа. Тренера опытные, добрые по отношению к детям, приветливые. Знающие свое дело. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
