.how
	display block
	background url('../images/general/cta-bg.jpg') 50% 0 no-repeat
	background-size cover
	&__in
		@extends .in
		padding-top 72px
		padding-bottom 52px
		text-align center
	&__title
		@extends .title
		margin-bottom 30px
		padding-bottom 0
		font-size 50px
		font-family $pR
		text-align center
		color #fff
		&:after
			display none
	&__button
		tr(all .3s ease)
		&:hover
			tr(all .3s ease)


